#ph {
    border-radius: 10px;
    float: right;
    margin: 0.5px 50px 0px 50px;
    padding-bottom: 0px;
}

body {
    background-image: url('bg.jpg');
    background-size: cover;
    margin: 0; /* Set margin to 0 */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.intro-section,
.about-class {
    margin: 20px;
    flex-grow: 1;
}

#intro-container,
#about-class-container {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(250, 4, 168, 0.5);
    animation: fadeIn 1s ease-out;
}

h1,
h2 {
    color: #e61313;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #428dd3;
}

a:hover {
    color: #f70713;
}

#githubContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #16222b;
    color: #e01515;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    #ph {
        float: none;
        margin: 10px auto;
    }

    body {
        margin: 0;
    }

    .intro-section,
    .about-class {
        margin: 10px;
    }

    #intro-container,
    #about-class-container {
        padding: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
